<!DOCTYPE html>
<html lang="en">
<head>

	<!-- META TAG -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>S* dance</title>

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    
    <!-- MENU PRINCIPAL -->

	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">S* Dance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="horaire.html"> Horaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="contact.html">Professeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="contact.html">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="contact.html">Photos/vidéos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href="contact.html">Mariage/anniversaire/ autre</a>
                </li>
            </ul>
        </div>
    </nav>
	
</body>
</html>